In [7]:
for i in range(25):
    print("""INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('"""
          +str(i)+
          """', '"""
          +str(i)+
          """');""")

INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('0', '0');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('1', '1');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('2', '2');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('3', '3');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('4', '4');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('5', '5');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('6', '6');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('7', '7');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('8', '8');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('9', '9');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('10', '10');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('11', '11');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('12', '12');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('13', '13');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('14', '14');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('15', '15');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('16', '16');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('17', '17');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('18', '18');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('19', '19');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('20', '20');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('21', '21');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('22', '22');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('23', '23');
INSERT INTO "public"."Hour" ("hour_id", "hour_name") VALUES ('24', '24');

In [ ]:
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('4', 'Malay');

In [15]:
a = ["English","Mandarin","Hindi","Spanish","French","German","Arabic","Russian","Portuguese"]
for i in range(len(a)):
    print("""INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('"""
          +str(i+1)+
          """', '"""
          +a[i]+
          """');""")

INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('1', 'English');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('2', 'Mandarin');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('3', 'Hindi');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('4', 'Spanish');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('5', 'French');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('6', 'German');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('7', 'Arabic');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('8', 'Russian');
INSERT INTO "public"."Language" ("language_id", "language_name") VALUES ('9', 'Portuguese');

In [ ]:
INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('5', 'raesfsaafg');

In [16]:
a = ["Computer Science","Finance","Biology","History","Art","Economics"]
for i in range(len(a)):
    print("""INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('"""
          +str(i+1)+
          """', '"""
          +a[i]+
          """');""")

INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('1', 'Computer Science');
INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('2', 'Finance');
INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('3', 'Biology');
INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('4', 'History');
INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('5', 'Art');
INSERT INTO "public"."InterestCategory" ("interest_category_id", "interest_category_name") VALUES ('6', 'Economics');

In [ ]:
INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('5', 'something', '1');

In [19]:
a = ["Algorithms","Machine Learning","Stock Market","DNA","World War II","Black Friday"]
b = [1,1,2,3,4,6,5]
for i in range(len(a)):
    print("""INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('"""
          +str(i+1)+
          """', '"""
          +a[i]+
          """', '"""
          +str(b[i])+
          """');""")

INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('1', 'Algorithms', '1');
INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('2', 'Machine Learning', '1');
INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('3', 'Stock Market', '2');
INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('4', 'DNA', '3');
INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('5', 'World War II', '4');
INSERT INTO "public"."Interest" ("interest_id", "interest_name", "category") VALUES ('6', 'Black Friday', '6');

In [ ]:
INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('5', 'fasdf');

In [20]:
a = ["Java","Python","C++","Javascript","SQL","HTML","Bloomberg Terminal"]
for i in range(len(a)):
    print("""INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('"""
          +str(i+1)+
          """', '"""
          +a[i]+
          """');""")

INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('1', 'Java');
INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('2', 'Python');
INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('3', 'C++');
INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('4', 'Javascript');
INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('5', 'SQL');
INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('6', 'HTML');
INSERT INTO "public"."Skill" ("skill_id", "skill_name") VALUES ('7', 'Bloomberg Terminal');

In [21]:
INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('6', 'gasdafaf');

SyntaxError: invalid syntax (<ipython-input-21-90ce55352c34>, line 1)

In [22]:
a = ["Computer Science","Operations Research and Information Engineering","Mathematics","Biology","Economics","History"]
for i in range(len(a)):
    print("""INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('"""
          +str(i+1)+
          """', '"""
          +a[i]+
          """');""")

INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('1', 'Computer Science');
INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('2', 'Operations Research and Information Engineering');
INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('3', 'Mathematics');
INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('4', 'Biology');
INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('5', 'Economics');
INSERT INTO "public"."Major" ("major_id", "major_name") VALUES ('6', 'History');

In [ ]:
INSERT INTO "public"."Country" ("country_id", "name") VALUES ('5', 'agfsdf');

In [23]:
a = ["United States","China","India","Canada","Russia","France","Germany"]
for i in range(len(a)):
    print("""INSERT INTO "public"."Country" ("country_id", "name") VALUES ('"""
          +str(i+1)+
          """', '"""
          +a[i]+
          """');""")

INSERT INTO "public"."Country" ("country_id", "name") VALUES ('1', 'United States');
INSERT INTO "public"."Country" ("country_id", "name") VALUES ('2', 'China');
INSERT INTO "public"."Country" ("country_id", "name") VALUES ('3', 'India');
INSERT INTO "public"."Country" ("country_id", "name") VALUES ('4', 'Canada');
INSERT INTO "public"."Country" ("country_id", "name") VALUES ('5', 'Russia');
INSERT INTO "public"."Country" ("country_id", "name") VALUES ('6', 'France');
INSERT INTO "public"."Country" ("country_id", "name") VALUES ('7', 'Germany');

In [ ]:

INSERT INTO "public"."InternProfile" ("intern_id", "last_name", "first_name", "email", "country", "state", "city", "local_time_zone", 
                                      "college_education", "major_1", "minor_1", "self_intro", "resume_fpath", "symba_challenge_points") VALUES ('2', 'Zhihao', 'Tang', 'zt222@cornell.edu', '1', 'NY', 'Ithaca', '-4', 'Cornell University', '1', '3', 'test', 'https://www.linkedin.com/in/zhihao-tang/', '0');

INSERT INTO "public"."InternProfile" ("intern_id", "last_name", "first_name", "email", "country", "state", "city", "local_time_zone",
                                      "college_education", "major_1", "minor_1", "self_intro", "resume_fpath", "symba_challenge_points") VALUES ('1', 'Zhihao', 'Tang', 'zt222@cornell.edu', '1', 'NY', 'Ithaca', '-4', 'Cornell University', '1', '3', 'test', 'https://www.linkedin.com/in/zhihao-tang/', '0');

In [41]:
a = ["1","Zhihao","Tang","zt222@cornell.edu","1","NY","Ithaca","-4","Cornell University","1","3","test","https://www.linkedin.com/in/zhihao-tang/","0"]
b = ["2","Eric","Ma","eric@cornell.edu","1","NY","Ithaca","-4","Cornell University","1","3","test_for_eric","https://www.linkedin.com/in/zhihao-tang/","0"]


for i in range(2):
    temp = "(\'" + "\', \'".join(a)+"\');"
    #print(temp)
    print("""INSERT INTO "public"."InternProfile" ("intern_id", "last_name", "first_name", "email", "country", "state", "city", "local_time_zone", "college_education", "major_1", "minor_1", "self_intro", "resume_fpath", "symba_challenge_points") VALUES """+temp)

INSERT INTO "public"."InternProfile" ("intern_id", "last_name", "first_name", "email", "country", "state", "city", "local_time_zone", "college_education", "major_1", "minor_1", "self_intro", "resume_fpath", "symba_challenge_points") VALUES ('1', 'Zhihao', 'Tang', 'zt222@cornell.edu', '1', 'NY', 'Ithaca', '-4', 'Cornell University', '1', '3', 'test', 'https://www.linkedin.com/in/zhihao-tang/', '0');